.pricing {
  height: 662px;
  position: relative;
  width: 1360px;
}

.pricing .div-wrapper {
  all: unset;
  box-sizing: border-box;
  height: 50px;
  left: 604px;
  position: absolute;
  top: 612px;
  width: 153px;
}

.pricing .overlap-group-5 {
  background-color: #366c94;
  border-radius: 44.5px;
  box-shadow: 0px 3px 20px #356c9480;
  height: 50px;
  position: relative;
  width: 151px;
}

.pricing .text-wrapper-23 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 125px;
}

.pricing .text-wrapper-24 {
  color: #3a4c6d;
  font-family: "Mulish", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 492px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 82px;
  white-space: nowrap;
}

.pricing .text-wrapper-25 {
  color: #3a4c6d;
  font-family: "Mulish", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 356px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 547px;
  white-space: nowrap;
}

.pricing .plans-pricing {
  color: #3a4c6d;
  font-family: "Mulish", Helvetica;
  font-size: 50px;
  font-weight: 950;
  left: 487px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
}

.pricing .group-12 {
  height: 354px;
  left: 56px;
  position: absolute;
  top: 141px;
  width: 1247px;
}

.pricing .free-tier-card {
  height: 354px;
  left: 0;
  position: absolute;
  top: 0;
  width: 288px;
}

.pricing .overlap-group-6 {
  background-color: #ffffff80;
  border-radius: 15px;
  height: 354px;
  position: relative;
  width: 282px;
}

.pricing .text-wrapper-26 {
  color: #3a4c6d;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 77px;
}

.pricing .fi-rr-apps {
  height: 61px !important;
  left: 102px !important;
  position: absolute !important;
  top: 177px !important;
  width: 61px !important;
}

.pricing .element-month {
  color: #3a4c6d;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 265px;
  white-space: nowrap;
  width: 189px;
}

.pricing .span {
  color: #3a4c6d;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
}

.pricing .text-wrapper-27 {
  font-size: 16px;
}

.pricing .text-wrapper-28 {
  color: #3a4c6d;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 600;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 96px;
  width: 189px;
}

.pricing .basic-tier {
  height: 354px;
  left: 321px;
  position: absolute;
  top: 0;
  width: 288px;
}

.pricing .text-wrapper-29 {
  color: #3a4c6d;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 97px;
}

.pricing .fi-rr-gallery {
  height: 61px !important;
  left: 110px !important;
  position: absolute !important;
  top: 177px !important;
  width: 61px !important;
}

.pricing .text-wrapper-30 {
  color: #3a4c6d;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 600;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 104px;
  width: 189px;
}

.pricing .premium-tier {
  height: 354px;
  left: 643px;
  position: absolute;
  top: 0;
  width: 288px;
}

.pricing .text-wrapper-31 {
  color: #3a4c6d;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 165px;
}

.pricing .element-month-2 {
  color: #3a4c6d;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 265px;
  width: 189px;
}

.pricing .text-wrapper-32 {
  color: #3a4c6d;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
}

.pricing .text-wrapper-33 {
  color: #3a4c6d;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  left: 47px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 96px;
  width: 189px;
}

.pricing .fi-rr-star {
  height: 61px !important;
  left: 111px !important;
  position: absolute !important;
  top: 182px !important;
  width: 61px !important;
}

.pricing .student-tier {
  height: 354px;
  left: 964px;
  position: absolute;
  top: 0;
  width: 288px;
}

.pricing .overlap-2 {
  background-color: #ffffff80;
  border: 4px solid;
  border-color: #4fb471cc;
  border-radius: 15px;
  height: 354px;
  position: relative;
  width: 282px;
}

.pricing .text-wrapper-34 {
  color: #3a4c6d;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 67px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 26px;
  width: 141px;
}

.pricing .get-access-to-an {
  color: #3a4c6d;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 92px;
  width: 189px;
}

.pricing .text-wrapper-35 {
  font-weight: 600;
}

.pricing .text-wrapper-36 {
  font-weight: 800;
}

.pricing .element-month-3 {
  color: #3a4c6d;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 261px;
  width: 189px;
}

.pricing .fi-rr-graduation-cap {
  height: 61px !important;
  left: 107px !important;
  position: absolute !important;
  top: 173px !important;
  width: 61px !important;
}
